<h1>Contact</h1>

<p>I can reached via email at <a href="mailto:andrewHau@gmail.com?Subject=Hello!" target="_top">andrewHau@gmail.com</a> or via phone at 513.284.0202. Additionally, listed below are all the different ways you can contact me through social media:</p>

<li><%= link_to "Twitter", "http://Twitter.com/andrewHau"  %></li>
<li><%= link_to "Facebook", "http://Facebook.com/andrewHau1"  %></li>
<li><%= link_to "Linkedin", "http://Linkedin.com/in/andrewHau"  %></li>
<li><%= link_to "Instagram", "http://Instagram.com/andrewHau"  %></li>
<li><%= link_to "Github", "http://Github.com/andrewhau1" %></li>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<!-- <%= link_to 'New Contact', new_contact_path %> -->